<!DOCTYPE html>
<html>
<head>
	<title>Catchphrase</title>
	<meta charset="utf-8"/>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
  	<!-- jQuery -->
  	<script src="/vendor/jquery/dist/jquery.min.js"</script>
  	<!-- Underscore -->
  	<script src="/vendor/underscore/underscore-min.js"</script>
  	<!-- Bootstrap JS-->
  	<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  	<!-- Boostrap CSS -->
  	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  	<!-- Catchphrase CSS -->
  	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
  	<!-- Catchphrase JS -->
  	<script src= "/static/js/app.js"></script>
</head>
<body>
		<header class="page-header">
			<h1> Catchphrase! </h1>
		</header>
	<div id="page-wrapper" class="container">
		<form class="form-inline" id="new-phrases-form">
			<input name="name" type="text" class="form-control" id="word-name-input" placeholder="Word">
		    <input name="definition" type="text" class="form-control" id="food-definition-input" placeholder="Definition">
		    <button type="submit" class="btn btn-default">Add</button>
    </form>
    	<ul class="list-group" id="phrases-ul">
    	</ul>
	</div>
	<script type="text/template" id="phrases-template">
	<li class='list-group-item'><%= word %>
      <!-- definition label -->
      <span class="label label-default"><%= definition%></span>
      <!-- button w/ registered onclick function -->
      <button data-_id="<%= _id %>" onclick="deleteFood(this)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </li>
    </script>
</body>
</html>